@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
    background-color: wheat;
    header {
      .header {
        display: flex;
        justify-content: flex-end;
        .search {
          margin-right: 30px;
          display: flex;
          align-items: center;
          
  
          span {
              display: flex;
              align-items: center;
  
              i {
border-radius: 5px 0px 0px 5px;
                background-color: #fff;
                  font-size: 30px; 
                  color: #333; 
                 
              }
          }
  
          select {
              padding: 5px 10px; 
               
              border-radius: 0px 5px 5px 0px; 
              font-size: 14px;
              color: #333; 
              background-color: #fff; 
  
              &:focus {
                  outline: none; 
                  border-color: #007BFF; 
                  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
              }
          }
      }
        .BACK {
          display: flex;
          justify-content: space-between;
          
          a {
            margin-right: 20px;
            text-decoration: none;
            color: #333;
            padding-top: 20px;
            position: relative;
      
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #333;
              transform: scaleX(0);
              transition: transform 0.3s ease-in-out;
              transform-origin: bottom right;
            }
      
            &:hover {
              color: #000;
      
              &::before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
      
            i {
              font-size: 30px;
            }
      
            p {
              font-size: 10px;
              text-align: center;
            }
          }
        }
        
        button {
          position: relative;
          border: none;
          padding: 8px 16px;
          background: transparent;
          color: #333;
          cursor: pointer;
          margin-left: 10px;
          font-size: 16px;
          transition: background-color 0.3s, color 0.3s, transform 0.3s;
      
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #333;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
            transform-origin: bottom right;
          }
      
          &:hover {
            background-color: transparent;
            color: #000;
      
            &::before {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
      
          &:active {
            transform: scale(0.98);
          }
      
          a {
            color: #333;
      
            i {
              margin-top: 5px;
              font-size: 50px;
            }
          }
      
          span {
            text-align: center;
            position: absolute;
            top: 5px;
            right: 10px;
            width: 23px;
            height: 23px;
            background-color: white;
            border-radius: 50%;
            border: 1px solid #333;
            padding-bottom: 20px;
            font-weight: bold;
      
           
          }
        }
      }
      
    }
}

// Định nghĩa biến màu sắc và font chung
$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family: Arial, sans-serif;

// Sass cho đoạn mã HTML
#showPhone.phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    .card {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
        button {
            width: 200px;
            margin-bottom: 20px;
            margin-left: 45px;
            background-color: $primary-color;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

            &:hover {
                background-color: darken($primary-color, 10%);
                color: lighten($primary-color, 10%);
                transform: translateY(-3px);
            }
        }
        .card-img-top {
            width: 100%;
            height:auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-body {
            padding: 1.25rem;
            text-align: center;

            .card-title {
                font-family: $font-family;
                font-size: 1.25rem;
                color: $primary-color;
                margin-bottom: 0.5rem;
            }

            .card-text {
                font-family: $font-family;
                color: $secondary-color;
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            h5 {
                text-align: center;
                margin: 0;
            }

         
        }
    }
}
// CART
.side-nav {
  max-height: 900px;
  position: fixed;
  background: #010101;
  height: 100%;
  width: 60%;
  flex-direction: column;
  top: 0;
  right: -100%;
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &:target {
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  .close:target ~ & {
    right: -100%;
    visibility: hidden;
    opacity: 1;
  }

  h2 {
    text-align: center;
    color: #fff;
  }

  .close {
    position: absolute;
    top: -10px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;

    .dialog-close-btn {
      text-decoration: none;
      font-size: 40px;
      color: white;
    }
  }

  .cart-items {
    overflow-y: auto;
    position: relative;
    width: 100%;
    margin: 0;
    height: calc(100% - 50px); // Trừ đi chiều cao của phần tử "Thanh toán" và "Tổng tiền"

    /* Tùy chỉnh kiểu dáng của thanh cuộn */
    &::-webkit-scrollbar {
      width: 10px; // Chiều rộng của thanh cuộn
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888; // Màu nền của thanh cuộn
      border-radius: 5px; // Độ cong của góc của thanh cuộn
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1; // Màu nền của track (phần nền của thanh cuộn)
    }

    table {
      max-height: 100%; // Hiển thị bảng không vượt quá chiều cao của phần "Cart"
      width: 100%;
      border-collapse: collapse;
      background-color: #333;

      thead {
        tr {
          background-color: #444;
          color: #fff;

          td {
            padding: 10px;
            text-align: center;
            border: 1px solid #555;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #3d3d3d;
          }

          &:nth-child(odd) {
            background-color: #2b2b2b;
          }

          td {
            .counter {
              display: flex;
              align-items: center;
              justify-content: center;

              .btn-decrement, .btn-increment {
                background-color: #007bff;
                color: white;
                border: none;
                padding: 10px 20px;
                font-size: 20px;
                cursor: pointer;
                border-radius: 4px;
                margin: 0 10px;

                &:hover {
                  background-color: #0056b3;
                }
              }

              .value {
                padding: 10px 20px;
                font-size: 20px;
                border: 1px solid #ccc;
                border-radius: 4px;
                min-width: 50px;
                text-align: center;
              }
            }

            padding: 10px;
            text-align: center;
            border: 1px solid #555;
            color: #fff;

            &:last-child {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .final {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;

    p {
      color: #fff;
      margin: 0;
    }
  }

  .thanhtoan {
    text-align: right;
    margin-right: 20px; // Điều chỉnh margin cho "Thanh toán"
    margin-bottom: 20px; // Điều chỉnh margin cho "Thanh toán"
  }
}
